.d {
  &-flex {
    display: flex;
  }
  &-grid {
    display: grid;
  }
}

.g {
  &-10 {
    gap: 10px;
  }
}

footer {
  justify-content: space-between;
  align-items: center;
  .creator {
    width: fit-content;
    p {
      width: fit-content;
      font-size: 12px;
    }
    img {
      width: min(200px, 100%);
    }
  }
  .social {
    i {
      font-size: 25px;
    }
  }
}