.d {
  &-flex {
    display: flex;
  }
  &-grid {
    display: grid;
  }
}

.g {
  &--10 {
    gap: 10px;
  }
  &--15 {
    gap: 15px;
  }
}

.p {
  &--10 {
    padding: 10px;
  }
  &--20 {
    padding: 20px;
  }
}

.m {
  &--0 {
    margin: 0;
  }
  &b {
    &--15 {
      margin: 0 auto 15px;
    }
  }
}

.cont {
  &-nav {
    position: sticky;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background-color: #fff;
    z-index: 99;
    .nav {
      .btn-theme {
        border: 0;
        background: transparent;
      }
      a {
        &.active {
          font-weight: 800;
        }
        &:hover {
          font-weight: 800;
        }
      }
    }
  }
  &-detail {
    width: min(650px, 100%);
    place-items: center;
    margin: 0 auto;
    picture {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;
    }
    .info {
      width: 100%;
      border: .5px solid #c8c8c8;
      border-radius: 15px;
      * {
        width: fit-content;
        text-align: left;
      }
    }
  }
}

.cont-nav, footer {
  width: 100%;
}

.card {
  grid-template-rows: 1fr auto;
  place-items: flex-start center;
  a {
    margin: 0;
  }
  .image {
    img {
      width: min(178px, 100%);
      height: auto;
    }
    p {
      position: absolute;
      font-size: 15px;
      line-height: 1;
      top: 15px;
      right: 15px;
    }
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
}

form {
  place-items: center;
  border-radius: 15px;
  border: .5px solid #c8c8c8;
  .data {
    width: 100%;
    gap: 5px;
    input {
      width: 100%;
    }
  }
  button {
    width: fit-content;
  }
}

.fa-heart {
  color: #7c7c7c;
  &.isFav {
    color: #ff4040 !important;
  }
}

.fav {
  position: absolute;
  right: 10px;
  top: 10px;
}

footer {
  justify-content: space-between;
  align-items: center;
  .creator {
    p {
      width: fit-content;
      font-size: 10px;
    }
    img {
      width: min(180px, 100%);
      height: auto;
    }
  }
  .social {
    i {
      font-size: 25px;
    }
  }
}

.error {
  font-size: 10px;
  color: #ff4040;
}

.dark {
  background-color: rgba(18, 18, 18, 0.5);
  color: #fff;
  a {
    color: #fff;
  }
  .cont {
    &-nav {
      background-color: rgba(18, 18, 18, 0.5);
    }
  }
  .card {
    border: 0.5px solid #fff;
  }
  .fa-heart {
    color: #c8c8c8;
  }
}

@media (600px <= width) {
  .cont-detail {
    grid-template-columns: auto 1fr;
  }

  form {
    .data {
      grid-template-columns: auto 1fr;
    }
  }
}